
{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
<h2 >Update the Status of a Task</h2><br>
    <form action="/" method="post">


            <select class="form-control" name="task_id" required>
            <option disabled selected value>Task_ID</option>
                {% for row2 in rows2 %}
                    <option value="{{ row2.task_id }}">{{ row2.task_id }}</option>
                {% endfor %}
            </select>

            <select class="form-control" name="status" required>
            <option disabled selected value>Status</option>

                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
            </select>

        <button class="btn btn-primary" type="submit">Update Status</button>

    </form><br><br>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>To Do</th>
                <th>In Progress</th>
                <th>Done</th>
            </tr>
        </thead>


        <tbody>
            {% for row in rows %}
            <tr>
                <td>
                {% if row["status"] == "To Do" %}
                    <b>{{ row["task_id"] }}</b><br>{{ row["employee"] }}: <br>{{ row["task"] }}
                {% endif %}
                </td>

                <td>
                {% if row["status"] == "In Progress" %}
                    <b>{{ row["task_id"] }}</b><br>{{ row["employee"] }}: <br>{{ row["task"] }}
                {% endif %}
                </td>

                <td>
                {% if row["status"] == "Done" %}
                    <b>{{ row["task_id"] }}</b><br>{{ row["employee"] }}: <br>{{ row["task"] }}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br><br>



{% endblock %}