{% extends "layout.html" %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Subscription</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for datan in data %}
            <tr>
                <td>{{ datan[0] }}</td>
                <td>{{ datan[1] }}</td>
                <td>{{ datan[2] }}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}